@font-face {
    font-family: 'stc';
    src: url(STC-Regular.ttf);
}
*{
    font-family: 'stc';
    src: url(STC-Regular.ttf);
}
.header-line{
    height: 6px;
    background: -webkit-linear-gradient(left, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
    margin-bottom: 15px;
}
nav .left button{
    background-color: rgb(73, 185, 117);
    height: 35px;
    font-size: 14px;

} 
nav ol .slash {
    color: #868e96 !important;
    text-decoration: none;
}
.fa-magnifying-glass{
    font-size: 14px;
}
.search{
    font-size: 14px;
}
.form-control-feedback{
    position: absolute;
    z-index: 2;
    display: block;
     width: 2.375rem;
    height: 2.375rem; 
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;

}
.search-b{
    height: 60px;
}
.categories .items {
    overflow: hidden;
    overflow-x: scroll;
    font-size: 12px;
    margin-top: 30px;
}
.categories .items .item img{
    width: 85px;
    height: 85px;
    background-color: white ;
    border-radius: 50%;
    box-shadow: 2px 4px 6px gray;
}
.categories .items .item p{
    margin-top: 4px;
    font-weight: bold;
    white-space: nowrap;
}
.categories .items .item{
    margin-left: 45px;
    text-align: center;
}

.items::-webkit-scrollbar,.categories-block .items::-webkit-scrollbar {
    width: 8px;
    background-color: white;
    height: 10px;
}
.items::-webkit-scrollbar-thumb,.categories-block .items::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #4182c3), color-stop(0.72, #4182c3), color-stop(0.86, #4182c3));
}
.items::-webkit-scrollbar-track, .categories .categories-block .items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 8px;
}
.sections{
    background-color: #f9f7f6;
}
.card .fa-heart{
    position: absolute;
    left: 23px;
    top: 16px;
    font-size: 25px;
}
.card .fa-heart:hover{
    color: red;
}
.text-left{
    text-align:left !important;
}
.simple-pagination {
    display: block;
    overflow: hidden;
    padding: 0 5px 5px 0;
    margin: 0;
}
.next{
    background: rgb(65, 130, 195);
}
.btn1{
    background: #7e57c6;
    cursor: pointer;
}
.fa-instagram{
    background: #7e57c6; 
}
.footer-line{
    height: 8px;
    margin-bottom: 20px;
    background-image:linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%)
}
    